.navigation__footer_up{
  background-color: $link-hover;
  padding:$p-0-5;
}

.navigation__footer {
  background-color: $green-dark;
}

.navbar__list_footer {
  padding: $p-1;
}

.navigation__footer_down {
  background-color: $green-darken;
  padding: $p-1;
}

.text_footer {
  color: $white;
  text-align: left;
}