.navigation_up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: $green-dark;
  padding:$p-1;
}

.navbar__lists {
  display: inline-flex;
}

.navbar__list {
  padding: $p-2;
}

.navigation_down {
  background-color: $link-hover;
  padding:$p-0-5;
}




