*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #cf316e;
  overflow-x: hidden;
}

.logo {
  position: relative;
}

a:hover {
  color: #cf316e;
}

.link {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 24px;
  color: #cf316e;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: line-through;
}

h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3rem;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.img {
  width: 270px;
  height: 200px;
}

.swiper {
  width: 100%;
  height: auto;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  background-color: #e6e3e3;
  border-radius: 1rem;
  color: #cf316e;
  text-align: center;
}

.img_swiper {
  border-radius: 100px;
  margin-bottom: 1rem;
}

.welcome {
  width: 25%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #cf316e;
  color: white;
  border-radius: 0.8rem;
  text-align: center;
}

.field {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  outline: none;
  background-color: #913068;
  border: 4px solid rgba(0, 0, 0, 0);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  transition: all 0.3s;
}

.field:hover {
  opacity: 0.5;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 3rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #913068 #913068;
  transition: all 0.3s;
}

.btn_add {
  background-color: #ffffff;
}

.navigation_up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #29463e;
  padding: 1rem;
}

.navbar__lists {
  display: inline-flex;
}

.navbar__list {
  padding: 2rem;
}

.navigation_down {
  background-color: #cf316e;
  padding: 0.5rem;
}

.header {
  text-align: center;
  width: 100%;
}

.text_white {
  color: #ffffff;
}

.main {
  background-color: #fff;
  padding: 1rem;
}

.section {
  padding: 1rem;
}

.section__about,
.section__contacts {
  position: relative;
  padding: 3rem;
  margin: 2rem;
  background-image: url("https://phonoteka.org/uploads/posts/2022-02/thumbs/1643880024_15-phonoteka-org-p-fon-more-zakat-20.jpg");
  border-radius: 8px;
  background-size: cover;
}

.text_about {
  font-weight: 500;
}

.link_about {
  color: #cf316e;
  font-weight: 500;
  padding: 3rem;
}

.section__delivery {
  position: relative;
  padding: 3rem;
  margin: 4rem;
  background-color: #e6e3e3;
  border-radius: 8px;
}

.div__delivery {
  padding-top: 2rem;
  margin: 1rem;
  justify-content: space-between;
}

.list__delivery {
  position: relative;
  display: inline-flex;
}

.container {
  justify-content: space-between;
  padding-right: 2rem;
}

.text_delivery {
  color: #000000;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 60, 3%;
  margin-bottom: 1rem;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 25px;
}

.container__products {
  padding: 2rem;
}

.lists__products {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.text_contacts {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */